// ===================== flexbox =====================
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

}

// ===================== grid =====================

%grid-container {
  margin: 2rem 3%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

%item-grid-container {
  padding: 3rem;
  background: #f4f4f4;
  border: #ccc 1px solid;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}


