@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  line-height: 1.6;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  &:active {
    transform: scale(0.98);
    box-shadow: none;
  }
}


input:focus {
  outline: none;
}
h1,h2,h3,h4 {
  text-transform: uppercase;
}
 img{
  width: 100%;
 }